.App {
  text-align: center;
}

.App nav {
  align-items: flex-end;
  background-color: #f8fafc;
  display: flex;
  justify-content: space-evenly;
  padding: .75rem;
}

.test {
  width: auto;
  height: 14rem;
  background-color: red;
}

nav a {
  color: #0739C0;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav img {
  max-height: 4rem;
  border-radius: .25rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
